---
import Layout from '../layouts/Layout.astro';
import Product from '../components/Product.astro';

const url = `${import.meta.env.PUBLIC_API_URL}/products?populate=image`;
const respuesta = await fetch(url);
const { data } = await respuesta.json();
---

<Layout 
	title="Tienda"
	description="Music instruments store"
>
	<main class="contenedor">
		<h1 class="heading">Tienda virtual</h1>

		<div class="grid">
			{data?.map(product => (
				<Product
					name={product.attributes.name}
					description={product.attributes.description}
					url={product.attributes.url}
					price={product.attributes.price}
					image={product.attributes.image}
				/>
			))}
		</div>
	</main>
</Layout>

<style>
</style>
